<app-loader *ngIf="state.isLoadingImages"></app-loader>
<div *ngIf="!state.isLoadingImages" class="custom-accordion">
  <h3 class="active"><a href="javascript:void(0)">Uploaded Photos</a></h3>
  <div class="custom-accordion-content exp">
    <div class="row" *ngIf="state.roomImages.length > 0">
      <div class="col-md-6">
        <div class="carousel-custom-outer">
          <div class="carousel-preview" *ngIf="state.selectedImage.urlPath">
            <div>
              <div class="main-photo">
                <img src="{{state.selectedImage.urlPath}}" alt="">
              </div>
            </div>
          </div>

          <div class="carousel-thumbnails clearfix">
            <div *ngFor="let image of state.roomImages; let index = index;">
              <div class="carousel-thumbnail" (click)="editImage(image, index)">
                <a href="javascript:void(0)"><img src="{{image.urlPath}}" alt=""></a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-primary">

          <label>Name</label>
          <div class="field-wrap mb-3">
            <input type="text" placeholder="" class="form-control" [disabled]="state.componentState.isViewMode" [(ngModel)]="state.selectedImage.name">
          </div>
          <label>Date Uploaded</label>
          <div class="field-wrap mb-3">
            <input type="text" placeholder="" class="form-control has-icon" [disabled]="true"  [(ngModel)]="state.selectedImage.createDate">
            <span class="fa fa-calendar-o"></span>
          </div>

          <label>Description</label>
          <div class="field-wrap mb-3">
            <textarea cols="5" rows="5" class="form-control"  [disabled]="state.componentState.isViewMode" [(ngModel)]="state.selectedImage.description"></textarea>
          </div>
          <div class="btns-wrap">
            <p>
              <a href="javascript:void(0)" class="btn btn-info" *ngIf="state.componentState.isViewMode" (click)="edit()"><i class="fa fa-pencil"></i> Edit</a>
              <a href="javascript:void(0)" class="btn btn-success" *ngIf="!state.componentState.isViewMode" (click)="save()"><i class="fa fa-save"></i> Save</a>
              <a href="javascript:void(0)" class="btn btn-secondary" (click)="reset()"><i class="fa fa-close"></i> Cancel</a>
              <a href="javascript:void(0)" class="btn btn-danger" (click)="openModal()"><i class="fa fa-trash"></i> Delete</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="state.roomImages.length == 0">
      <div class="col-md-12">
        <div class="carousel-custom-outer">
          <p>No Image Found</p>
        </div>
      </div>

    </div>
  </div>
</div>

<app-confirm-modal [confirmationMessage]="'You want to delete this Photo'" (isConfirmed)="deleteImage($event)"></app-confirm-modal>
