<div class="carousel-wrap">
  <div class="slider-for">
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-12.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-9.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-10.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-11.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-1.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-4.jfif" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-5.jfif" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-6.jfif" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-7.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-8.jfif" alt="">
      </div>
    </div>
    <div>
      <div class="main-photo">
        <img src="/assets/images/carousel/carousel-2.jfif" alt="">
      </div>
    </div>
  </div>

  <div class="slider-nav">
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-12.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-9.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-10.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-11.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-1.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-4.jfif" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-5.jfif" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-6.jfif" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-7.jpg" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-8.jfif" alt="">
      </div>
    </div>
    <div>
      <div class="carousel-thumbnail">
        <img src="/assets/images/carousel/carousel-2.jfif" alt="">
      </div>
    </div>
  </div>
</div>
