<!-- Using Loader just need add class to parent (loader) that's it -->

<div class="box {{className ? 'loader' : className}}" >
  <div class="box-body">
    <h2>&nbsp;</h2>
  </div>
</div>
<!--

<div class="box loader-lg">
  <div class="box-body">
    <h2>Loader Small</h2>
  </div>
</div>

<div class="box loader-small">
  <div class="box-body">
    <h2>Loader Small</h2>
  </div>
</div>

<div class="box loader-small loader-right">
  <div class="box-body">
    <h2>Loader Right Side</h2>
  </div>
</div>

-->
