<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6">
<![endif]-->
<!--[if IE 7]>
<html id="ie7">
<![endif]-->
<!--[if IE 8]>
<html id="ie8">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html>
<!--<![endif]-->
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Index</title>

  <link type="text/css" rel="stylesheet" href="/assets/fonts/fonts.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/reservation-results.css" />

</head>

<body>

<div class="reservation-detail-wrap">
  <div class="reservation-sidebar">
    <div class="side-title">Show Results By:</div>
    <div class="accordion-group group-active">
      <div class="accordon-heading"><a href="#">Price</a></div>
      <div class="accordion-body">
        
      </div>
    </div>
    <div class="accordion-group group-active">
      <div class="accordon-heading"><a href="#">Departure</a></div>
      <div class="accordion-body">
        
      </div>
    </div>
    <div class="accordion-group group-active">
      <div class="accordon-heading"><a href="#">Arrival</a></div>
      <div class="accordion-body">
        
      </div>
    </div>
    <div class="accordion-group group-active">
      <div class="accordon-heading"><a href="#">Max Stop Time</a></div>
      <div class="accordion-body">
        
      </div>
    </div>
    <div class="accordion-group group-active">
      <div class="accordon-heading"><a href="#">Policy</a></div>
      <div class="accordion-body">
        <ul>
          <li><label for="Preferred"><input type="checkbox" class="checkbox" id="Preferred"> Preferred <span class="label-num">$294</span> </label></li>
          <li><label for="Acceptable"><input type="checkbox" class="checkbox" id="Acceptable"> Acceptable <span class="label-num">$294</span></label></li>
        </ul>
      </div>
    </div>
    <div class="accordion-group group-active">
      <div class="accordon-heading"><a href="#">Airlines</a></div>
      <div class="accordion-body">
        <ul>
          <li><label for="airCanada"><input type="checkbox" class="checkbox" id="airCanada"> Air Canada <span class="label-num">$294</span> </label></li>
          <li><label for="Westjet"><input type="checkbox" class="checkbox" id="Westjet"> Westjet <span class="label-num">$294</span></label></li>
        </ul>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordon-heading"><a href="#">Stops</a></div>
      <div class="accordion-body">
        <ul>
          <li><label for="Nonstop"><input type="checkbox" class="checkbox" id="Nonstop"> Nonstop</label></li>
          <li><label for="1-stop"><input type="checkbox" class="checkbox" id="1-stop"> 1-stop</label></li>
          <li><label for="2-stop"><input type="checkbox" class="checkbox" id="2-stop"> 2-stop</label></li>
        </ul>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordon-heading"><a href="#">Options</a></div>
      <div class="accordion-body">
        <ul>
          <li><label for="CodeShare"><input type="checkbox" class="checkbox" id="CodeShare"> Code Share</label></li>
          <li><label for="LongLayover"><input type="checkbox" class="checkbox" id="LongLayover"> Long Layover</label></li>
        </ul>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordon-heading"><a href="#">Connecting City</a></div>
      <div class="accordion-body">
        <ul>
          <li><label for="cityNone"><input type="checkbox" class="checkbox" id="cityNone"> None <span class="label-num">$294</span></label></li>
          <li><label for="edmonton"><input type="checkbox" class="checkbox" id="edmonton"> Edmonton lntl. Airport <span class="label-num">$294</span></label></li>
          <li><label for="saskatoon"><input type="checkbox" class="checkbox" id="saskatoon"> Saskatoon John G, Diefenbker International Airport <span class="label-num">$294</span></label></li>
          <li><label for="victorialntl"><input type="checkbox" class="checkbox" id="victorialntl"> Victoria lntl, Airport <span class="label-num">$294</span></label></li>
        </ul>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordon-heading"><a href="#">Fare Type</a></div>
      <div class="accordion-body">
        <ul>
          <li><label for="Economy"><input type="checkbox" class="checkbox" id="Economy"> Economy <span class="label-num">$319</span></label></li>
          <li><label for="Economy2"><input type="checkbox" class="checkbox" id="Economy2"> Economy Flexible <span class="label-num">$319</span></label></li>
          <li><label for="Economy3"><input type="checkbox" class="checkbox" id="Economy3"> Premium Economy <span class="label-num">$344</span></label></li>
          <li><label for="Economy4"><input type="checkbox" class="checkbox" id="Economy4"> Premium Economy Flexible <span class="label-num">$445</span></label></li>
          <li><label for="Economy5"><input type="checkbox" class="checkbox" id="Economy5"> Business Flexible <span class="label-num">$514</span></label></li>
        </ul>
      </div>
    </div>
  </div><!-- reservation-sidebar -->
  <div class="reservation-content-area">
    <div class="reservation-content-inner">
      <div class="reservation-tabs">
        <ul>
          <li class="active"><a href="#content-1">Aug 12</a></li>
          <li><a href="#content-2">Aug 13</a></li>
        </ul>
      </div>
      <div id="content-1">
        <div class="box position-relative">
          <div class="box-body">
            <div class="filter-section position-relative">
              <div class="row">
                <div class="col-md-4">
                  <p>
                    <label>Sort By</label>
                    <select class="form-control">
                      <option>Time</option>
                      <option>Price</option>
                    </select>
                  </p>
                </div>
                <div class="col-md-4">
                  <p>
                    <label>Filter Grid</label>
                    <select class="form-control">
                      <option>Airline x Stops</option>
                    </select>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box position-relative">
          <div class="box-body">
            <div class="reserve-general-wrap">
              <div class="reserve-general-section">
                <div class="reserve-general-title">
                  <div class="row">
                    <div class="col-lg-4">
                      <h4><span>Westjet</span></h4>
                    </div>
                    <div class="col-lg-4">
                      <div class="reserve-general-time">06:00 AM YVR  08:22 AM YYC</div>
                      <div class="stop-wrap">Nonstop</div>
                    </div>
                    <div class="col-lg-4">
                      
                    </div>
                  </div>
                  <div class="reserve-general-more">
                    <a href="#">Display Details</a>
                  </div>
                </div>
                <div class="reserve-general-list-wrap">
                  <div class="reserve-general-list">
                    <div class="g-list-inner">
                      <h3>Econo</h3>
                      <h4>$294</h4>
                    </div>
                    <a href="#" class="general-select">Select</a>
                  </div>
                  <div class="reserve-general-list">
                    <div class="g-list-inner">
                      <h3>Flex</h3>
                      <h4>$319</h4>
                    </div>
                    <a href="#" class="general-select">Select</a>
                  </div>
                  <div class="reserve-general-list">
                    <div class="g-list-inner">
                      <h3>Premium</h3>
                      <h4>$344</h4>
                    </div>
                    <a href="#" class="general-select">Select</a>
                  </div>
                  <div class="reserve-general-list">
                    <div class="g-list-inner">
                      <h3>Prem Flex</h3>
                      <h4>$503</h4>
                    </div>
                    <a href="#" class="general-select">Select</a>
                  </div>
                </div>
              </div>
            </div><!-- reserve-general-wrap -->
          </div>
        </div>
      </div><!-- content-1 -->
    </div>
  </div><!-- reservation-content-area -->
  <div class="reservation-rightbar">

  </div>
</div><!-- reservation-detail-wrap -->




</body>
</html>
