<div class="reservation-detail-wrap">
  <div class="reservation-sidebar">
    <div class="reservation-sidebar-inner">
      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-price">Price</a></div>
        <div class="accordion-body">
          <ng5-slider [(value)]="state.price.value" [(highValue)]="state.price.highValue" [options]="state.price.options"></ng5-slider>
        </div>
      </div>
      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-departure">Departure</a></div>
        <div class="accordion-body">
          <ng5-slider [(value)]="state.departure.value" [(highValue)]="state.departure.highValue" [options]="state.departure.options"></ng5-slider>
        </div>
      </div>
      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-arrival">Arrival</a></div>
        <div class="accordion-body">
          <ng5-slider [(value)]="state.arrival.value" [(highValue)]="state.arrival.highValue" [options]="state.arrival.options"></ng5-slider>
        </div>
      </div>
      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-time">Max Stop Time</a></div>
        <div class="accordion-body">
          <ng5-slider [(value)]="state.stops.value" [(highValue)]="state.stops.highValue" [options]="state.stops.options"></ng5-slider>
        </div>
      </div>
      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);">Policy</a></div>
        <div class="accordion-body">
          <ul>
            <li><label for="Preferred"><input type="checkbox" class="checkbox" id="Preferred"> Preferred <span class="label-num">$294</span> </label></li>
            <li><label for="Acceptable"><input type="checkbox" class="checkbox" id="Acceptable"> Acceptable <span class="label-num">$294</span></label></li>
          </ul>
        </div>
      </div>
      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);">Airlines</a></div>
        <div class="accordion-body">
          <ul>
            <li><label for="airCanada"><input type="checkbox" class="checkbox" id="airCanada"> Air Canada <span class="label-num">$294</span> </label></li>
            <li><label for="Westjet"><input type="checkbox" class="checkbox" id="Westjet"> Westjet <span class="label-num">$294</span></label></li>
          </ul>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordon-heading"><a href="javascript:void(0);">Stops</a></div>
        <div class="accordion-body">
          <ul>
            <li><label for="Nonstop"><input type="checkbox" class="checkbox" id="Nonstop"> Nonstop</label></li>
            <li><label for="1-stop"><input type="checkbox" class="checkbox" id="1-stop"> 1-stop</label></li>
            <li><label for="2-stop"><input type="checkbox" class="checkbox" id="2-stop"> 2-stop</label></li>
          </ul>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordon-heading"><a href="javascript:void(0);">Options</a></div>
        <div class="accordion-body">
          <ul>
            <li><label for="CodeShare"><input type="checkbox" class="checkbox" id="CodeShare"> Code Share</label></li>
            <li><label for="LongLayover"><input type="checkbox" class="checkbox" id="LongLayover"> Long Layover</label></li>
          </ul>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordon-heading"><a href="javascript:void(0);">Connecting City</a></div>
        <div class="accordion-body">
          <ul>
            <li><label for="cityNone"><input type="checkbox" class="checkbox" id="cityNone"> None <span class="label-num">$294</span></label></li>
            <li><label for="edmonton"><input type="checkbox" class="checkbox" id="edmonton"> Edmonton lntl. Airport <span class="label-num">$294</span></label></li>
            <li><label for="saskatoon"><input type="checkbox" class="checkbox" id="saskatoon"> Saskatoon John G, Diefenbker International Airport <span class="label-num">$294</span></label></li>
            <li><label for="victorialntl"><input type="checkbox" class="checkbox" id="victorialntl"> Victoria lntl, Airport <span class="label-num">$294</span></label></li>
          </ul>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordon-heading"><a href="javascript:void(0);">Fare Type</a></div>
        <div class="accordion-body">
          <ul>
            <li><label for="Economy"><input type="checkbox" class="checkbox" id="Economy"> Economy <span class="label-num">$319</span></label></li>
            <li><label for="Economy2"><input type="checkbox" class="checkbox" id="Economy2"> Economy Flexible <span class="label-num">$319</span></label></li>
            <li><label for="Economy3"><input type="checkbox" class="checkbox" id="Economy3"> Premium Economy <span class="label-num">$344</span></label></li>
            <li><label for="Economy4"><input type="checkbox" class="checkbox" id="Economy4"> Premium Economy Flexible <span class="label-num">$445</span></label></li>
            <li><label for="Economy5"><input type="checkbox" class="checkbox" id="Economy5"> Business Flexible <span class="label-num">$514</span></label></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- reservation-sidebar -->
  <div class="reservation-content-area">
    <div class="reservation-content-inner">

      <div class="reserve-filter-top-wrap">
        <div class="row align-items-center row-break-1300---">
          <div class="col-md-6">
            <div class="reservation-tabs">
              <ul>
                <li class="active"><a href="javascript:void(0);"><strong>Aug</strong> 12</a></li>
                <li><a href="javascript:void(0);"><strong>Aug</strong> 13</a></li>
                <li><a href="javascript:void(0);"><strong>Aug</strong>14</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="reserve-top-filter">
              <select class="form-control custom-select">
                <option>Filter Grid: Airline X Stop</option>
                <option>Policy X Airline</option>
              </select>
              <select class="form-control custom-select">
                <option>Sort By: Time</option>
                <option>Sort By: Price</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <div id="content-1">

        <div class="box">
          <div class="table-responsive">
            <table class="table selection-table">
              <thead>
                <tr>
                  <th><h4>Show All</h4> 14 Total Results</th>
                  <th><h4>Air Canada <span>$294</span></h4> 6 Result</th>
                  <th><h4>Westjet <span>$294</span></h4> 6 Result</th>
                  <th><h4>Westjet <span>$294</span></h4> 10 Result</th>
                  <th><h4>Westjet <span>$294</span></h4> 20 Result</th>
                  <th><h4>Westjet <span>$294</span></h4> 15 Result</th>
                  <th><h4>Westjet <span>$294</span></h4> 18 Result</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="active"><h4>NonStop</h4> 11 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                </tr>
                <tr>
                  <td><h4>1 Stop <span>$501</span></h4> 11 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                </tr>
                <tr>
                  <td><h4>2 Stops <span>$619</span></h4> 11 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                </tr>
                <!-- <tr class="full-active">
                  <td><h4>2 Stops <span>$619</span></h4> 11 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                  <td><p>$294</p> 5 Results</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>

        <div class="content-booking-wrapper">
          <div class="article-content-booking">
            <div class="content-booking-left">
              <h3><img src="../../assets/images/reservation/west.png" alt=""> Westjet <span class="book-sm-info">Non Stop</span></h3>
              <div class="booking-time">
                <ul>
                  <li>06:00 AM YVR</li>
                  <li>06:00 AM YVC</li>
                </ul>
              </div>
            </div>
            <div class="content-booking-right">
              <div class="table-price-tickets-wrap table-responsive">
                <table class="table table-border table-price-tickets">
                  <tbody>
                    <tr>
                      <td><a href="javascript:void(0)"><em>Econo</em> $294</a></td>
                      <td><a href="javascript:void(0)"><em>Flex</em> $319</a></td>
                      <td><a href="javascript:void(0)"><em>Premimum</em> $344</a></td>
                      <td><a href="javascript:void(0)"><em>Prem Flex</em> $503</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="display-btn-wrap">
              <a href="javascript:void(0)" class="display-detail"><span>Display Details</span> <span class=" fa fa-angle-down"></span> </a>
            </div>
            <div class="more-reservation-wrap">
              <div class="more-reservation-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Depart YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Return YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- more-reservation-wrap -->
          </div><!-- article-content-booking -->

          <div class="article-content-booking">
            <div class="content-booking-left">
              <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> Air Canada <span class="book-sm-info">Non Stop</span></h3>
              <div class="booking-time">
                <ul>
                  <li>06:00 AM YVR</li>
                  <li>06:00 AM YVC</li>
                </ul>
              </div>
            </div>
            <div class="content-booking-right">
              <div class="table-price-tickets-wrap table-responsive">
                <table class="table table-border table-price-tickets">
                  <tbody>
                    <tr>
                      <td class=""><a href="javascript:void(0)"><em>Econo</em> $294</a></td>
                      <td><a href="javascript:void(0)"><em>Flex</em> $319</a></td>
                      <td><a href="javascript:void(0)"><em>Premimum</em> $344</a></td>
                      <td><a href="javascript:void(0)"><em>Prem Flex</em> $503</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="display-btn-wrap">
              <a href="javascript:void(0)" class="display-detail"><span>Display Details</span> <span class=" fa fa-angle-down"></span> </a>
            </div>
            <div class="more-reservation-wrap">
              <div class="more-reservation-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Depart YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Return YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- more-reservation-wrap -->
          </div><!-- article-content-booking -->

          <div class="article-content-booking">
            <div class="content-booking-left">
              <h3><img src="../../assets/images/reservation/west.png" alt=""> Westjet <span class="book-sm-info">Non Stop</span></h3>
              <div class="booking-time">
                <ul>
                  <li>06:00 AM YVR</li>
                  <li>06:00 AM YVC</li>
                </ul>
              </div>
            </div>
            <div class="content-booking-right">
              <div class="table-price-tickets-wrap table-responsive">
                <table class="table table-border table-price-tickets">
                  <tbody>
                    <tr>
                      <td class=""><a href="javascript:void(0)"><em>Econo</em> $294</a></td>
                      <td><a href="javascript:void(0)"><em>Flex</em> $319</a></td>
                      <td><a href="javascript:void(0)"><em>Premimum</em> $344</a></td>
                      <td><a href="javascript:void(0)"><em>Prem Flex</em> $503</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="display-btn-wrap">
              <a href="javascript:void(0)" class="display-detail"><span>Display Details</span> <span class=" fa fa-angle-down"></span> </a>
            </div>
            <div class="more-reservation-wrap">
              <div class="more-reservation-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Depart YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Return YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- more-reservation-wrap -->
          </div><!-- article-content-booking -->

          <div class="article-content-booking">
            <div class="content-booking-left">
              <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> Air Canada <span class="book-sm-info">Non Stop</span></h3>
              <div class="booking-time">
                <ul>
                  <li>06:00 AM YVR</li>
                  <li>06:00 AM YVC</li>
                </ul>
              </div>
            </div>
            <div class="content-booking-right">
              <div class="table-price-tickets-wrap table-responsive">
                <table class="table table-border table-price-tickets">
                  <tbody>
                    <tr>
                      <td class=""><a href="javascript:void(0)"><em>Econo</em> $294</a></td>
                      <td><a href="javascript:void(0)"><em>Flex</em> $319</a></td>
                      <td><a href="javascript:void(0)"><em>Premimum</em> $344</a></td>
                      <td><a href="javascript:void(0)"><em>Prem Flex</em> $503</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="display-btn-wrap">
              <a href="javascript:void(0)" class="display-detail"><span>Display Details</span> <span class=" fa fa-angle-down"></span> </a>
            </div>
            <div class="more-reservation-wrap">
              <div class="more-reservation-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Depart YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Return YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- more-reservation-wrap -->
          </div><!-- article-content-booking -->

          <div class="article-content-booking">
            <div class="content-booking-left">
              <h3><img src="../../assets/images/reservation/west.png" alt=""> Westjet <span class="book-sm-info">Non Stop</span></h3>
              <div class="booking-time">
                <ul>
                  <li>06:00 AM YVR</li>
                  <li>06:00 AM YVC</li>
                </ul>
              </div>
            </div>
            <div class="content-booking-right">
              <div class="table-price-tickets-wrap table-responsive">
                <table class="table table-border table-price-tickets">
                  <tbody>
                    <tr>
                      <td class=""><a href="javascript:void(0)"><em>Econo</em> $294</a></td>
                      <td><a href="javascript:void(0)"><em>Flex</em> $319</a></td>
                      <td><a href="javascript:void(0)"><em>Premimum</em> $344</a></td>
                      <td><a href="javascript:void(0)"><em>Prem Flex</em> $503</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="display-btn-wrap">
              <a href="javascript:void(0)" class="display-detail"><span>Display Details</span> <span class=" fa fa-angle-down"></span> </a>
            </div>
            <div class="more-reservation-wrap">
              <div class="more-reservation-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Depart YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Return YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- more-reservation-wrap -->
          </div><!-- article-content-booking -->

          <div class="article-content-booking">
            <div class="content-booking-left">
              <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> Air Canada <span class="book-sm-info">Non Stop</span></h3>
              <div class="booking-time">
                <ul>
                  <li>06:00 AM YVR</li>
                  <li>06:00 AM YVC</li>
                </ul>
              </div>
            </div>
            <div class="content-booking-right">
              <div class="table-price-tickets-wrap table-responsive">
                <table class="table table-border table-price-tickets">
                  <tbody>
                    <tr>
                      <td><a href="javascript:void(0)"><em>Econo</em> $294</a></td>
                      <td><a href="javascript:void(0)"><em>Flex</em> $319</a></td>
                      <td><a href="javascript:void(0)"><em>Premimum</em> $344</a></td>
                      <td><a href="javascript:void(0)"><em>Prem Flex</em> $503</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="display-btn-wrap">
              <a href="javascript:void(0)" class="display-detail"><span>Display Details</span> <span class=" fa fa-angle-down"></span> </a>
            </div>
            <div class="more-reservation-wrap">
              <div class="more-reservation-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Depart YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="info-more-section">
                      <h3>Return YXX- YYC</h3>
                      <h4>Mon, Sep 14</h4>
                      <ul>
                        <li>12-20 pm - 2:30pm</li>
                        <li>Addotsford (YXX) - Calgary (YYC)</li>
                        <li>Westjet 176 . Narrow - body jet. Boeing 737-800 passenger / BBJ2 (winglets)</li>
                        <li>Basic: Fare restrictions apply</li>
                      </ul>
                      <h4>Basic: 1h 11m</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- more-reservation-wrap -->
          </div><!-- article-content-booking -->

        </div><!-- content-booking-wrapper -->



        <div class="box position-relative" style="display: none;">
          <div class="box-body">
            <div class="reservation-table-wrap table-responsive">
              <table class="table table-sm table-striped table-hover">
                <tbody>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/west.png" alt=""> <span>Westjet</span></h3>
                      <h4>
                        <strong>06:00 AM</strong> <span>YVR</span>
                        <em>To</em> <strong>08:22AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="display-detail">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $319 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $344 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $503 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> <span>Air Canada</span></h3>
                      <h4>
                        <strong>09:20 PM</strong> <span>YVR</span>
                        <em>To</em> <strong>10:40AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="more-detail" data-toggle="modal" data-target="#tableInfo2">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $314 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $352 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $445 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Biz Flex <br> $514 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/west.png" alt=""> <span>Westjet</span></h3>
                      <h4>
                        <strong>06:00 AM</strong> <span>YVR</span>
                        <em>To</em> <strong>08:22AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="display-detail">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $319 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $344 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $503 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> <span>Air Canada</span></h3>
                      <h4>
                        <strong>09:20 PM</strong> <span>YVR</span>
                        <em>To</em> <strong>10:40AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="more-detail" data-toggle="modal" data-target="#tableInfo2">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $314 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $352 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $445 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Biz Flex <br> $514 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/west.png" alt=""> <span>Westjet</span></h3>
                      <h4>
                        <strong>06:00 AM</strong> <span>YVR</span>
                        <em>To</em> <strong>08:22AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="display-detail">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $319 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $344 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $503 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> <span>Air Canada</span></h3>
                      <h4>
                        <strong>09:20 PM</strong> <span>YVR</span>
                        <em>To</em> <strong>10:40AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="more-detail" data-toggle="modal" data-target="#tableInfo2">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $314 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $352 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $445 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Biz Flex <br> $514 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/west.png" alt=""> <span>Westjet</span></h3>
                      <h4>
                        <strong>06:00 AM</strong> <span>YVR</span>
                        <em>To</em> <strong>08:22AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="display-detail">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $319 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $344 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $503 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> <span>Air Canada</span></h3>
                      <h4>
                        <strong>09:20 PM</strong> <span>YVR</span>
                        <em>To</em> <strong>10:40AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="more-detail" data-toggle="modal" data-target="#tableInfo2">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $314 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $352 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $445 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Biz Flex <br> $514 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/west.png" alt=""> <span>Westjet</span></h3>
                      <h4>
                        <strong>06:00 AM</strong> <span>YVR</span>
                        <em>To</em> <strong>08:22AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="display-detail">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $319 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $344 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $503 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> <span>Air Canada</span></h3>
                      <h4>
                        <strong>09:20 PM</strong> <span>YVR</span>
                        <em>To</em> <strong>10:40AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="more-detail" data-toggle="modal" data-target="#tableInfo2">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $314 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $352 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $445 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Biz Flex <br> $514 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/west.png" alt=""> <span>Westjet</span></h3>
                      <h4>
                        <strong>06:00 AM</strong> <span>YVR</span>
                        <em>To</em> <strong>08:22AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="display-detail">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $319 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $344 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $503 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> <span>Air Canada</span></h3>
                      <h4>
                        <strong>09:20 PM</strong> <span>YVR</span>
                        <em>To</em> <strong>10:40AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="more-detail" data-toggle="modal" data-target="#tableInfo2">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $314 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $352 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $445 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Biz Flex <br> $514 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/west.png" alt=""> <span>Westjet</span></h3>
                      <h4>
                        <strong>06:00 AM</strong> <span>YVR</span>
                        <em>To</em> <strong>08:22AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="display-detail">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $319 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $344 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $503 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <h3><img src="../../assets/images/reservation/air-canada.png" alt=""> <span>Air Canada</span></h3>
                      <h4>
                        <strong>09:20 PM</strong> <span>YVR</span>
                        <em>To</em> <strong>10:40AM</strong> <span>YYC</span>
                        <a href="javascript:void(0);" class="more-detail" data-toggle="modal" data-target="#tableInfo2">More Detail...</a>
                      </h4>
                    </td>
                    <td><p>Econo <br> $294 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Flex <br> $314 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Premium <br> $352 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Prem Flex <br> $445 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                    <td><p>Biz Flex <br> $514 <a href="javascript:void(0);" class="reserve-tb-select">Select</a></p></td>
                  </tr>
                </tbody>
              </table>
            </div><!-- reservation-table-wrap -->
          </div>
        </div>



      </div><!-- content-1 -->
    </div>
  </div><!-- reservation-content-area -->
</div><!-- reservation-detail-wrap -->

<div class="booking-article-bot">
  <a href="javascript:void(0);" *ngIf="!state.bookingContentArea" (click)="toggleBookingContentArea(true);" class="new-booking">
    <span style="display: none;"></span>
  </a>
  <div class="booking-content-area" *ngIf="state.bookingContentArea" style="display:block;">
    <div class="booking-top" >
        <a href="javascript:void(0)" class="close-booking" (click)="toggleBookingContentArea(false);"><span class="fa fa-close"></span></a>
      <div class="booking-art-title"><h3>New Booking</h3></div>
      <div class="booking-search"><input type="text" placeholder="Search by name" class="form-control"></div>
    </div>
    <div class="booking-art-inner">
      <ul>
        <li>
          <h4>Westjet <a href="javascript:void(0)" class="remove-booking">Remove</a></h4>
          <h5>WS 115 <span>Aug 24</span></h5>
          <p>08:00 AM: Calgary Intl. Airport</p>
          <p>08:00 AM: Vancouver Intl. Airport</p>
          <div class="booking-subtotal">
            <span>Flex</span> <strong>326.35</strong>
          </div>
        </li>
        <li>
          <h4>Westjet <a href="javascript:void(0)" class="remove-booking">Remove</a></h4>
          <h5>WS 115 <span>Aug 24</span></h5>
          <p>08:00 AM: Calgary Intl. Airport</p>
          <p>08:00 AM: Vancouver Intl. Airport</p>
          <div class="booking-subtotal">
            <span>Flex</span> <strong>326.35</strong>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="tableInfo1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><img src="../../assets/images/reservation/west.png" alt=""> WS 112</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <strong>06:00 AM</strong>
          Thu, Aug 13 Vancouvcer lntl. Airport (YVR)
        </p>
        <p>
          <strong>08:22 AM</strong>
          Thu, Aug 13 Calgary lntl. Airport (YYC)
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="tableInfo2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><img src="../../assets/images/reservation/air-canada.png" alt=""> Air Canada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <strong>06:00 AM</strong>
          Thu, Aug 13 Vancouvcer lntl. Airport (YVR)
        </p>
        <p>
          <strong>08:22 AM</strong>
          Thu, Aug 13 Calgary lntl. Airport (YYC)
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
