<div class="header-wrap">
  <a href="#" class="menu-icon" [ngClass]="{'active': isFullWidth == 'no'}" (click)="setWidth($event, isFullWidth == 'full' ? false : true)"><span class="fa fa-navicon"></span></a>
  <div class="logo"><a href="#">Innfinity</a></div>
  <div class="header-right">
    <ul class="d-flex flex-wrap">
      <li class="has-dropdown">
        <a href="#">Language <em class="flagicon flag-us"></em></a>
        <ul class="dropdown-menu-wrap">
          <li><a href="#" (click)="setLocale($event, 'en')" ><em class="flagicon flag-us"></em> <span>English</span></a></li>
          <li><a href="#" (click)="setLocale($event, 'sp')"><em class="flagicon flag-sn"></em> <span>Spanish</span></a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Theme <i class="fa fa-themeisle"></i> </a>
        <ul class="dropdown-menu-wrap">
          <li><a href="#" (click)="setTheme($event)" [ngClass]="{ 'active': !isLightTheme }" class="theme-dark">Theme Dark</a></li>
          <li><a href="#" (click)="setTheme($event, true)" [ngClass]="{'active':isLightTheme }" class="theme-light">Theme Light</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Login</a>
        <ul class="dropdown-menu-wrap">
          <li><a href="#"><i class="fa fa-gears"></i> <span>Settings</span></a></li>
          <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
          <li><a href="#"><i class="fa fa-sign-in"></i> <span>Logout</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
