<div class="header-wrap" style="" [ngStyle]="{background: (custom_configs.header_bg ? custom_configs.header_bg : '')}">
  <a href="#" class="menu-icon" [ngClass]="{'active': isFullWidth == 'no'}" (click)="setWidth($event, isFullWidth == 'full' ? false : true)"><span class="fa fa-navicon"></span></a>
  <div class="logo"><a href="#">Innfinity</a></div>
  <div class="nav-wrap">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="{{'/home'}}"><span>Home</span></a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>About</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Travel by Interest</a>
              <a class="dropdown-item" href="#">Travel by Region</a>
              <a class="dropdown-item" href="#">Travel by Price</a>
              <a class="dropdown-item" href="#">Last Minute Flights</a>
              <a class="dropdown-item" href="#">5 Star Hotels</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Pages</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/html_components'}}">HTML Components</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/house-keeping'}}">House Keeping</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/house-keeping/room-images/static'}}">Room Image</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/search-location'}}">Search Location</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/carousel'}}">carousel</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/autocomplete'}}">Autocomplete</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/booking/make'}}">Reservation</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/translation-cache'}}">Translation Cache</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/drag-n-drop'}}">Drag & Drop</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/sign-digitally'}}">Digital Signatures</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/reservation-list'}}">Reservation List</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/search-reservation'}}">search reservation</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/workflow-admin'}}">Workflow Admin</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Target Blank Pages</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/login2'}}" target="_blank">Login 2</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/booking/search'}}" target="_blank">Reservation</a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="{{'/booking/make-static'}}">Reservation Static</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="header-right">
    <ul class="d-flex flex-wrap">
      <li class="has-dropdown">
        <a href="javascript:void(0)">{{ 'language' | translate}} <em class="flagicon flag-us"></em></a>
        <ul class="dropdown-menu-wrap">
          <li><a href="javascript:;" (click)="translate.use('en')" ><em class="flagicon flag-us"></em> <span>English</span></a></li>
          <li><a href="javascript:;" (click)="translate.use('es')"><em class="flagicon flag-sn"></em> <span>Spanish</span></a></li>
          <li><a href="javascript:;" (click)="translate.use('fr')"><em class="flagicon flag-fr"></em> <span>French</span></a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="javascript:void(0)">{{'theme' | translate}} <i class="fa fa-themeisle"></i> </a>
        <ul class="dropdown-menu-wrap">
          <li [ngClass]="{ 'active': 'theme-dark' == isLightTheme }">
            <a href="javascript:;" (click)="setTheme($event, 'theme-dark')" class="theme-dark">{{'theme_dark' | translate}}</a>
          </li>
          <li [ngClass]="{'active': 'theme-light' == isLightTheme }">
            <a href="javascript:;" (click)="setTheme($event, 'theme-light')" class="theme-light">{{'theme_light' | translate}}</a>
          </li>
          <li [ngClass]="{'active': 'theme-dark-primary' == isLightTheme }">
            <a href="javascript:;" (click)="setTheme($event, 'theme-dark-primary')" class="">{{'theme_dark_primary' | translate}}</a>
          </li>
          <!-- <li><a href="javascript:;" (click)="setTheme($event, 'theme-light-primary')" [ngClass]="{'active':isLightTheme }" class="theme-light-primary">{{'theme_light_primary' | translate}}</a></li> -->
        </ul>
      </li>
      <li class="has-dropdown">
        <a routerLink="/login">{{'login' | translate}}</a>
        <ul class="dropdown-menu-wrap">
          <li><a href="javascript:void(0);"><i class="fa fa-gears"></i> <span>Settings</span></a></li>
          <li><a href="javascript:void(0);"><i class="fa fa-user"></i> <span>Profile</span></a></li>
          <li><a href="javascript:void(0);" (click)="logout()"><i class="fa fa-sign-in"></i> <span>Logout</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>


