.reservation-detail-wrap{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.reservation-sidebar{
    width: 250px;
    font-size: 13px;
    background: #fff;
    -moz-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.22);
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.22);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.22);
}
.reservation-sidebar-inner{
    max-height: 100vh;
    overflow-y: auto;
}
    .reservation-sidebar ::-webkit-scrollbar {
        width: 5px;
    }
    .reservation-sidebar ::-webkit-scrollbar-track {
        background: rgba(0,0,0, 0.2);
    }
    .reservation-sidebar ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0, 0.2);
    }
    .reservation-sidebar ::-webkit-scrollbar-thumb:hover {
        background: #83157b;
    }
    .side-title{
        background: #5bc0ed;
        color: #fff;
        padding: 8px 15px 10px;
        font-weight: bold;
        font-size: 14px;
    }
    .reservation-sidebar .accordion-group{
        margin:  0 0 5px;
    }
    .reservation-sidebar ul,
    .reservation-sidebar li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .reservation-sidebar .accordon-heading a{
        display: block;
        padding: 9px 20px;
        text-decoration: none;
        position: relative;
        background: #e7f8ff;
        color: #212529;
        font-weight: 600;
    }
    .reservation-sidebar .accordon-heading a:before{
        content: "\f105";
        font:normal normal normal 18px/1 FontAwesome;
        position: absolute;
        right: 15px;
        top: 7px;
    }
        .group-active .accordon-heading a:before{
            content: "\f107";
            top: 9px;
        }
        .accordion-group.group-active .accordion-body{
            display: block;
        }
    .reservation-sidebar .accordion-body{
        display: none;
        padding: 15px;
    }
    .reservation-sidebar .accordion-body li{
        padding: 2px 0 4px;
    }
    .reservation-sidebar .accordion-body li label{
        display: block;
        margin: 0;
    }
    .reservation-sidebar .checkbox,
    .reservation-sidebar .radio{
        margin: 0 5px 5px 0;
    }
    .label-num{
        float: right;
        padding: 0 5px;
        line-height: 15px;
        border: 1px solid #EAEDEF;
        min-width: 32px;
        text-align: center;
        font-size: 11px;
        border-radius: 10px
    }
.reservation-content-area{
    width: calc(100% - 250px);
    max-height: 100vh;
    overflow-y: auto;
}
    .reservation-content-inner{
        padding: 20px;
    }
    .reservation-tabs ul,
    .reservation-tabs li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .reservation-tabs ul{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #5bc0ed;
    }
    .reservation-tabs ul a{
        display: inline-block;
        padding: 10px 40px;
        color: #212529;
        text-decoration: none;
    }
    .reservation-tabs li.active a{
        background: #fff;
        font-weight: 600;
        border-radius: 8px 8px 0 0;
    }
.reserve-general-title{
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px;
}
    .reserve-general-title h4{
        font-size: 18px;
        color: #2196f3;
        font-weight: bold;
        margin: 0 0 10px;
    }
    .reserve-general-title h4 span,
    .reserve-general-title h4 img{
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 5px 0;
    }
    .reserve-general-time{
    }
    .reserve-general-time h4{
        font-size: 22px;
        font-weight: 600;
        color: #0a0a0a;
        margin: 0 0 5px;
    }
    .reserve-general-time > span{
        display: block;
        color: #707070;
        font-size: 14px;
        margin: 0 0 8px;
    }
    .time-ratio{
        text-align: center;
    }
    .time-ratio h4{
        font-size: 14px;
        font-weight: normal;
        color: #888787;
        margin: 0;
    }
    .time-ratio h5{
        font-size: 14px;
        font-weight: normal;
        color: #24c114;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
    }
    .differ-sep{
        height: 1px;
        background: #ddddde;
        position: relative;
        margin: 8px 0 10px;
    }
    .differ-sep:before,
    .differ-sep:after{
        content: " ";
        position: absolute;
        left: 0;
        top: -3px;
        width: 7px;
        height: 7px;
        background: #ddddde;
        border-radius: 50%;
    }
    .differ-sep:after{
        left: auto;
        right: 0;
    }
    .reserve-general-more{
        text-align: right;
    }
    .reserve-general-more a{
        font-size: 13px;
        display: inline-block;
        font-weight: bold;
        padding: 8px 15px;
        text-decoration: none;
        color: #fff;
        background: #ef6614;
    }
.reserve-general-list-wrap{
    display: flex;
    flex-wrap: wrap;
}
    .reserve-general-list{
        width: 150px ;
        text-align: center;
        border: 1px solid #cccccc;
        margin: 0 20px 20px 0;
        border-radius: 5px;
    }
    .g-list-inner{
        padding: 15px;
    }
    .g-list-inner h3{
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 7px;
    }
    .g-list-inner h4{
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }
    .general-select{
        display: block;
        text-align: center;
        font-weight: bold;
        padding: 8px 4px;
        text-decoration: none;
        color: #fff;
        background: #ef6614;
    }
    .general-select:hover{
        color: #fff;
    }
    .g-list-inner .general-select{
        border-radius: 0 0 5px 5px;
    }

.reservation-table-wrap{
}
    .reservation-table-wrap .table{
        font-size: 14px;
    }
    .reservation-table-wrap h3{
        font-size: 14px;
        margin: 0 0 5px;
    }
    .reservation-table-wrap h3 span,
    .reservation-table-wrap h3 img{
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 2px 0;
    }
    .reservation-table-wrap h4{
        font-size: 13px;
        margin: 0 0 5px;
    }
        .reservation-table-wrap h4 em{
            font-style: normal;
            margin: 0 5px;
        }
        .reservation-table-wrap h4 span{
            color: #999;
        }
    .more-detail{
        font-size: 12px;
        color: #000;
        font-weight: 600;
        display: inline-block;
        text-decoration: underline;
        margin-left: 15px;
    }    
    .reservation-table-wrap p{
        margin: 0 0 3px;
    }
    .reservation-table-wrap .reserve-tb-select{
        display: inline-block;
        padding: 4px 8px;
        color: #fff;
        background: #5bc0ed;
        line-height: 1;
        font-size: 12px;
    }