.reservation-detail-wrap{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.reservation-sidebar{
    width: 250px;
    font-size: 13px;
    background: #fff;
    max-height: 100vh;
    overflow-y: auto;
    -moz-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.22);
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.22);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.22);
}
    .reservation-detail-wrap ::-webkit-scrollbar {
        width: 5px;
    }
    .reservation-detail-wrap ::-webkit-scrollbar-track {
        background: rgba(0,0,0, 0.2);
    }
    .reservation-detail-wrap ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0, 0.2);
    }
    .reservation-detail-wrap ::-webkit-scrollbar-thumb:hover {
        background: #83157b;
    }
    .side-title{
        background: #5bc0ed;
        color: #fff;
        padding: 8px 15px 10px;
        font-weight: bold;
        font-size: 14px;
    }
    .reservation-sidebar .accordion-group{
        margin:  0 0 5px;
    }
    .reservation-sidebar ul,
    .reservation-sidebar li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .reservation-sidebar .accordon-heading a{
        display: block;
        padding: 9px 20px;
        text-decoration: none;
        position: relative;
        background: #e7f8ff;
        color: #212529;
        font-weight: 600;
    }
    .reservation-sidebar .accordon-heading a:before{
        content: "\f105";
        font:normal normal normal 18px/1 FontAwesome;
        position: absolute;
        right: 15px;
        top: 7px;
    }
        .group-active .accordon-heading a:before{
            content: "\f107";
            top: 9px;
        }
        .accordion-group.group-active .accordion-body{
            display: block;
        }
    .reservation-sidebar .accordion-body{
        display: none;
        padding: 15px;
    }
    .reservation-sidebar .accordion-body li{
        padding: 2px 0 4px;
    }
    .reservation-sidebar .accordion-body li label{
        display: block;
        margin: 0;
    }
    .reservation-sidebar .checkbox,
    .reservation-sidebar .radio{
        margin: 0 5px 5px 0;
    }
    .label-num{
        float: right;
        padding: 0 5px;
        line-height: 15px;
        border: 1px solid #EAEDEF;
        min-width: 32px;
        text-align: center;
        font-size: 11px;
        border-radius: 10px
    }
.reservation-content-area{
    width: calc(100% - 250px);
}