<div class="box">
  <div class="box-header">
    Reservations
  </div>
  <div class="box-body form-primary">
    <div class="row">
      <div class="col-sm-6">
        <div class="field-wrap-outer mb-3">
          <label>Begin Date*</label>
          <div class="field-wrap">
            <input type="text"
                   [(ngModel)]="form.beginDate"
                   bsDatepicker
                   [bsConfig]="bsConfig"
                   placeholder="Date From"
                   class="form-control">
            <span class="fa fa-calendar-o icon-tr"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field-wrap-outer mb-3">
          <label>End Date*</label>
          <div class="field-wrap">
            <input type="text"
                   [(ngModel)]="form.endDate"
                   bsDatepicker
                   [bsConfig]="bsConfig"
                   placeholder="Date To"
                   class="form-control">
            <span class="fa fa-calendar-o icon-tr"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field-wrap-outer mb-3">
          <label>Site*</label>
          <div class="field-wrap">
            <select [(ngModel)]="form.site" class="form-control">
                <option value="">Main Site</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field-wrap-outer mb-3">
          <label>Block Date*</label>
          <div class="field-wrap">
            <input type="text"
                   [(ngModel)]="form.blockDate"
                   bsDatepicker
                   [bsConfig]="bsConfig"
                   placeholder="Block Date"
                   class="form-control">
            <span class="fa fa-calendar-o icon-tr"></span>
          </div>
        </div>
      </div>


      <div class="col-sm-6 pb-5">
          <p><button class="btn btn-success btn-lg btn-block" (click)="loadContent()">Filter </button></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-condensed table-bordered table-hover table-striped"
                   cdkDropList
                   #pendingList="cdkDropList"
                   [cdkDropListData]="reservations"
                   [cdkDropListConnectedTo]="associatedTo">
                <tr>
                  <th>feature</th>
                  <th>Name</th>
                  <th>start Date</th>
                  <th>End Date</th>
                  <th>reservation Date</th>
                </tr>
                <tr *ngFor="let item of reservations" cdkDrag [cdkDragData]="item">
                  <td>{{item.feature}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.dates[0]}}</td>
                  <td>{{item.dates[item.dates.length-1]}}</td>
                  <td>{{item.reservationDate}}</td>
                </tr>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="box" *ngIf="form.beginDate && form.endDate">
  <div class="box-header">
    <h3 class="">Tape Grid</h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>Item</th>
            <th>Feature</th>
            <th *ngFor="let day of form.days">{{day.label}}</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let tape of tapeGrid; let i= index;" cdkDropList
              id="tape_grid_{{i+1}}"
              [cdkDropListConnectedTo]="[pendingList]"
              [cdkDropListData]="tape.reservations"
              (cdkDropListDropped)="drop($event, tape)"
              [cdkDropListEnterPredicate]="ReservationCheck"
              (mouseleave)="resetRow($event, tape)"
              class="{{tape.statusClass ? tape.statusClass : ''}}"
          >
            <td>{{tape.room_no}}</td>
            <td>{{tape.feature}}</td>
            <td *ngFor="let day of form.days" popover="" [ngStyle]="{backgroundColor: (isOccupied(tape, day) ? '#a7e9af': '')}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



