<div class="box">
  <div class="box-header">
    <h3>PDF</h3>
  </div>
  <div class="body">
    <div class="row">
      <div class="col-sm-12">
        <ngx-extended-pdf-viewer
          [src]="'/assets/sample_explain.pdf'"
          backgroundColor="#ffffff"
          [useBrowserLocale]="true"
          [handTool]="false"
          [showHandToolButton]="true"
          height="80vh">
        </ngx-extended-pdf-viewer>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-primary btn-block" (click)="clearSignature()">Clear It</button>
      </div>
      <div class="col-6">
        <button class="btn btn-success btn-block" (click)="submitSignature()">Submit</button>
      </div>
    </div>
  </div>
</div>
