<div class="" #productContainer *ngIf="!isLoading">
    <div class="box">
      <div class="box-body">
        <div class="accordion custom-accordion" id="accordionExample">
          <div class="card overflow-visible" *ngFor="let product of products; let RowIndex = index">
            <div class="card-header" #headingOne>
              <h2 class="accordion-link" data-toggle="collapse" [attr.data-target]="'#collaps_'+RowIndex" aria-expanded="true">
                {{product.name}}
              </h2>
            </div>

            <div id="collaps_{{RowIndex}}" class="collapse show" data-parent="#accordionExample">
              <div class="card-body">
                <div class="mb-12" *ngIf="product.fields && product.fields.length > 0">
                  <div class="row">
                    <div class="col-md-6" *ngFor="let field of product.fields">
                      <div class="custom-control custom-checkbox mb-2" *ngIf="field.fieldType == 'Boolean'">
                          <input type="checkbox" type="checkbox" [(ngModel)]="field.value" class="custom-control-input" #customCheck1>
                          <label class="custom-control-label" popover="{{field.description}}"
                                 triggers="mouseenter:mouseleave">{{field.name}}</label>
                      </div>
                      <div class="custom-control custom-checkbox mb-6" *ngIf="field.fieldType == 'Integer'">
                          <label class="custom-control-label" popover="{{field.description}}"
                                 triggers="mouseenter:mouseleave">{{field.name}}</label>
                          <input class="form-control"  type="number" min="{{field.minValue || 1}}" max="{{field.maxValue || 999}}" [(ngModel)]="field.value" />
                      </div>
                      <div class="custom-control custom-checkbox mb-6" *ngIf="field.fieldType == 'String'">
                          <label class="custom-control-label" popover="{{field.description}}"
                                 triggers="mouseenter:mouseleave">{{field.name}}</label>
                          <textarea class="form-control"  [(ngModel)]="field.value"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="custom-accordion-wrap" *ngFor="let children of product.childProducts">
                  <div class="custom-accordion">
                    <h3 class=""><a href="javascript:void(0)">{{children.name}}</a></h3>
                    <div class="custom-accordion-content">
                      <div class="form-primary">
                        <div class="" *ngIf="children.fields.length > 0">
                          <div class="" *ngFor="let field of children.fields">
                            <div class="combine-wrap queue-check-wrap">
                              <label class="control-label" popover="{{field.description}}"
                                    triggers="mouseenter:mouseleave">{{field.name}}</label>
                              <input *ngIf="field.fieldType == 'Boolean'" type="checkbox" [(ngModel)]="field.value" />
                              <input *ngIf="field.fieldType == 'Integer'" class="form-control"  type="number" min="{{field.minValue || 1}}" max="{{field.maxValue || 999}}" [(ngModel)]="field.value" />
                              <textarea *ngIf="field.fieldType == 'String'" class="form-control"  [(ngModel)]="field.value"></textarea>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
