<div class="" #productContainer *ngIf="!isLoading && products.length > 0">
    <div class="box" *ngFor="let product of products;">
      <div class="box-header" *ngIf="product.name">
        {{product.name}}
      </div>
      <div class="box-body form-primary">
        <app-dynamic-form-fields *ngIf="product.fields.length > 0" [fields]="product.fields" [wrapperClass]="'row'" [booleanFieldClass]="'col-md-12'" [FieldWrapperClass]="'col-md-6'"></app-dynamic-form-fields>
        <div class="accordion custom-accordion" id="accordionExample">
          <div *ngIf="product.childProducts">
            <div class="card overflow-visible" *ngFor="let childProduct of product.childProducts; let RowIndex = index">
            <div class="card-header" #headingOne>
              <h2 *ngIf="childProduct.name" class="accordion-link" data-toggle="collapse" [attr.data-target]="'#collaps_'+RowIndex" aria-expanded="true">
                {{childProduct.name}}
              </h2>
            </div>

            <div id="collaps_{{RowIndex}}" class="collapse show" data-parent="#accordionExample">
              <div class="card-body">
                <div class="mb-12" *ngIf="childProduct.fields && childProduct.fields.length > 0">
                  <app-dynamic-form-fields *ngIf="childProduct.fields.length > 0" [fields]="childProduct.fields" [wrapperClass]="'row'" [booleanFieldClass]="'col-md-12'" [FieldWrapperClass]="'col-md-6'"></app-dynamic-form-fields>
                </div>

                <div class="custom-accordion-wrap" *ngFor="let children of childProduct.childProducts; let childIndex = index">
                  <div class="custom-accordion">
                    <h3 class="" [ngClass]="{'active' : 0 == childIndex}"><a href="javascript:void(0)">{{children.name}}</a></h3>
                    <div class="custom-accordion-content" [ngStyle]="{display: 0 == childIndex ? 'block' : ''}">
                      <div class="form-primary">
                        <app-dynamic-form-fields *ngIf="children.fields.length > 0" [fields]="children.fields" [wrapperClass]="'row'" [booleanFieldClass]="'col-md-12'" [FieldWrapperClass]="'col-md-6'"></app-dynamic-form-fields>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="" *ngIf="!isLoading && products.length <= 0">
  <h2>No Product Found</h2>
</div>
<app-loader *ngIf="isLoading"></app-loader>
