<link type="text/css" rel="stylesheet" href="/assets/css/reservation.css" />

<div class="overlay-bg"></div>
<div class="custom-section-wrap">
  <h1>Book</h1>
  <div class="custom-section">
    <div class="custom-sidebar">
      <div class="custom-nav" id="tabsCustom">
        <ul>
          <li [ngClass]="{'active': tab == 'flight'}">
            <a href="javascript:void(0)" (click)="tab = 'flight'"><em class="fa fa-plane"></em> <span>Flight</span></a>
          </li>
          <li [ngClass]="{'active': tab == 'hotel'}">
            <a href="javascript:void(0)" (click)="tab = 'hotel'"><em class="fa fa-hotel"></em> <span>Hotel</span></a>
          </li>
          <li [ngClass]="{'active': tab == 'car'}">
            <a href="javascript:void(0)" (click)="tab = 'car'"><em class="fa fa-car"></em> <span>Car</span></a>
          </li>
          <li [ngClass]="{'active': tab == 'bundle'}">
            <a href="javascript:void(0)" (click)="tab = 'bundle'"><em class="fa fa-home"></em> <span>Bundle</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="custom-main">
          <div class="field-wrap-outer">
              <label>Business Profile*</label>
              <div class="field-wrap">
                  <select class="form-control">
                      <option>Select Business Profile</option>
                  </select>
                  <span class="fa fa-user-o"></span>
              </div>
          </div>
          <div class="field-wrap-outer">
              <label>Traveler*</label>
              <div class="field-wrap">
                  <input type="text" placeholder="Select Business Profile First" class="form-control">
                  <span class="fa fa-paper-plane-o"></span>
              </div>
          </div>

          <div class="trip-radio-wrap">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Roundtrip" name="trip" class="custom-control-input">
                <label class="custom-control-label" for="Roundtrip">Roundtrip</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="oneWay" name="trip" class="custom-control-input">
                <label class="custom-control-label" for="oneWay">One-Way</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="multiCity" name="trip" class="custom-control-input">
                <label class="custom-control-label" for="multiCity">Multi-city</label>
            </div>
        </div>

          <div class="custom-content tabs-content" id="content-1" style="display: block;">
            <div class="book-time-wrap">
              <div class="row">
                <div class="col-6">
                  <h3>From*</h3>
                  <div class="field-wrap-outer">
                    <label>Departure*</label>
                    <div class="field-wrap">
                        <input type="text"
                               [(ngModel)]="form.dateFrom"
                               bsDatepicker
                               [bsConfig]="bsConfig"
                               placeholder="Date From"
                               class="form-control">
                        <span class="fa fa-calendar-o"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h3>To*</h3>
                  <div class="field-wrap-outer">
                    <label>Departure Time*</label>
                    <div class="field-wrap">
                        <timepicker [(ngModel)]="form.timeFrom" [mousewheel]="true" [arrowkeys]="true"></timepicker>
<!--                        <input type="text" placeholder="" class="form-control">-->
<!--                        <span class="fa fa-clock-o"></span>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="field-wrap-outer">
                    <label>Departure*</label>
                    <div class="field-wrap">
                        <input type="text"
                               [(ngModel)]="form.dateTo"
                               bsDatepicker
                               [bsConfig]="bsConfig"
                               placeholder="Date To"
                               class="form-control">
                        <span class="fa fa-calendar-o"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="field-wrap-outer">
                    <label>Departure Time*</label>
                    <div class="field-wrap">
                        <timepicker [(ngModel)]="form.timeTo" [mousewheel]="true" [arrowkeys]="true"></timepicker>

<!--                        <input type="text" placeholder="" class="form-control">-->
<!--                        <span class="fa fa-clock-o"></span>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">Search</button>
        </div>

    </div>
  </div>
</div>


<script src="/assets/js/reservation.js" defer></script>
