.filter-section{
    background: rgba(0,0,0,.05);
    padding: 25px 30px 15px;
    margin: 0 0 35px;;
}
.filter-gradient{
    background: #09425d;
    background-image: linear-gradient(#eee, #ddd);
}
.filter-transparent{
    padding: 0 0 15px;
}
    .filter-transparent .form-control{
        height: auto;
        padding: 10px 10px 11px;
        background: #f2f2f2;
        border-color: #f2f2f2;
        color: #222;
    }
    .refresh-wrap{
        position: absolute;
        right: 20px;
        top: 10px;
    }
.room-table th:last-child{
    min-width: 100px !important;
}
.room-table td:last-child{
    text-align: center;
}
.room-table td:last-child .fa{
    color: #09425d;
    margin: 0 5px;
}


.table-housekeeping-wrap{
    display: block;
    width: 100%;
    overflow-x: auto;
    /*max-height: 800px;*/
}
    .table-housekeeping-wrap table{
        font-size: 15px;
    }
    .table-housekeeping-wrap table th{
        white-space:nowrap;
        padding-right: 20px;
    }
    .table-loader-bot{
        background: url(/assets/images/loading.gif) no-repeat;
        background-size: 100% auto;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    td select.view-mode,
    td select.view-mode:focus,
    td select.view-mode:active{
    border: none;
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    }
    .dataTable td{
        position: relative;
    }
    .dataTable .fa-close{
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(0,0,0, 0.4);
        color: #fff;
        font-size: 12px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
    }


/* .table-housekeeping-wrap table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
    .table-housekeeping-wrap table thead tr{
        display: block;
    }
    .table-housekeeping-wrap table tbody {
        display:block;
        overflow:auto;
        height:200px;
        width:100%;
    } */
