<app-loader *ngIf="state.isLoading "></app-loader>
<div class="" *ngIf="!state.isLoading">
  <div class="box position-relative">
    <div class="box-header">
      <h3>Room Status</h3>
      <!-- <div class="admin-mode">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="pageFilters.isHousekeeperAdmin" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Admin Mode</label>
      </div> -->
      <div class="custom-control custom-checkbox admin-mode">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="pageFilters.isHousekeeperAdmin" id="customCheck2">
        <label class="custom-control-label" for="customCheck2">Admin Mode</label>
      </div>
    </div>
    <div class="box-body">
      <div class="filter-transparent">
        <div class="row">
          <div class="custom-control custom-checkbox mb-2 col-lg-4">
            <label>Sites</label>
            <select class="form-control" [(ngModel)]="pageFilters.sites" (change)="reloadConfigs()">
              <option *ngFor="let site of state.filterConfigs.sites" value="{{site.value}}"> {{site.text}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="filter-section position-relative">
        <div class="row">
          <div class="col-lg-4">
            <label>Shift</label>
            <p>
              <select class="form-control">
                <option *ngFor="let shift of state.filterConfigs.shifts" [ngValue]="shift.value">{{shift.text}}</option>
              </select>
            </p>
          </div>

          <div class="col-lg-4">
            <label>Feature</label>
            <p>
              <select class="form-control" [(ngModel)]="pageFilters.features" (change)="loadRooms()">
                <option value="00000000-0000-0000-0000-000000000000"> ANY </option>
                <option *ngFor="let feature of state.filterConfigs.features" value="{{feature.value}}">{{feature.text}}</option>
              </select>
            </p>
          </div>
          <div class="col-lg-4">
            <label>Doom</label>
            <p>
              <select class="form-control">
                <option>Doom 1</option>
              </select>
            </p>
          </div>
        </div>
        <div class="refresh-wrap">
          <button type="button" class="btn btn-success" (click)="refreshFilter()"><span class="fa fa-refresh"></span></button>
        </div>
      </div>


      <div class="jump-section">
        <label>Jump to Page:</label>
        <select [(ngModel)]="state.pagination.pageNum" (change)="loadRooms()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
        </select>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm row-border hover room-table">
          <thead>
          <tr>
            <th class="sort-custom" (click)="setSortingParams('roomNumber');">Room #</th>
            <th class="sort-custom" (click)="setSortingParams('features')">Feature</th>
            <th class="sort-custom" (click)="setSortingParams('fdStatus')">FD Status</th>
            <th class="sort-custom" (click)="setSortingParams('hkStatusId');">HS Status</th>
            <th class="sort-custom" (click)="setSortingParams('adminStatusId');">Admin Status</th>
            <th class="sort-custom" (click)="setSortingParams('housekeeperId');">HouseKeeper</th>
            <th class="sort-custom" (click)="setSortingParams('shift');">Shift</th>
            <th class="sort-custom" (click)="setSortingParams('linenStatus');">Linen Status</th>
            <th>Image</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of data;index as $index;">
            <td>
              <span>{{row.roomNumber}}</span>
            </td>
            <td>
              <span>{{row.features}}</span>
            </td>
            <td>
              <span>{{row.fdStatus}}</span>
            </td>
            <td>
              <span>
                <select id="hs_status_{{$index}}"
                        [(ngModel)]="row.hkStatusId"
                        [ngClass]="{'view-mode': !row.$editHsStatus, 'form-control': row.$editHsStatus}"
                        (focus)= "row.$editHsStatus = true;"
                        (focusout)="row.$editHsStatus = false;"
                        (change)="updateHouseKeeping(row.id, row, 'hs_status', '$editHsStatus')">
                  <option *ngFor="let status of state.filterConfigs.hsStatus" [ngValue]="status.value">{{status.text}}</option>
                </select>
              </span>
            </td>
            <td>
              <span>
                <select id="admin_status"
                        [(ngModel)]="row.adminStatusId"
                        (change)="updateHouseKeeping(row.id, row, 'admin_status', '$editAdminStatus')"
                        [ngClass]="{'view-mode': !row.$editAdminStatus, 'form-control': row.$editAdminStatus}"
                        (focus)= "row.$editAdminStatus = true;"
                        (focusout)= "row.$editAdminStatus = false;"
                >
                  <option *ngFor="let adStatus of state.filterConfigs.adminStatuses" [ngValue]="adStatus.value">{{adStatus.text}}</option>
                </select>

              </span>
            </td>
            <td>
              <span>
                <select [(ngModel)]="row.housekeeperId"
                        [ngClass]="{'view-mode': !row.$editHousekeeper, 'form-control': row.$editHousekeeper}"
                        (focus)= "row.$editHousekeeper = true;"
                        (focusout)= "row.$editHousekeeper = false;"
                        (change)= "updateHouseKeeping(row.id, row, 'housekeeper', '$editHousekeeper')" >
                  <option *ngFor="let hk of state.filterConfigs.houseKeepers" [ngValue]="hk.value">{{hk.text}}</option>
                </select>

              </span>
            </td>
            <td>
              <span>
                <select [(ngModel)]="row.shift"
                        [ngClass]="{'view-mode': !row.$editShift, 'form-control': row.$editShift}"
                        (focus)= "row.$editShift = true;"
                        (focusout)= "row.$editShift = false;"
                        (change) = "updateHouseKeeping(row.id, row, 'shift', '$editShift')">
                  <option *ngFor="let shift of state.filterConfigs.shifts" [ngValue]="shift.text">{{shift.text}}</option>
                </select>
              </span>
            </td>
            <td>{{row.linenStatus}}</td>
            <td></td>
            <td>

              <div class="fileUpload">
                <input type="file" class="upload" />
                <span>Upload</span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
