<div class="">
  <div class="box">
    <div class="box-header">
      <h3>
        Room Status
      </h3>
    </div>
    <div class="box-body">

      <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Admin Mode</label>
      </div>


      <div class="filter-section">
        <div class="row">
          <div class="col-lg-3">
            <label>Shift</label>
            <p>
              <select class="form-control">
                <option>Any</option>
              </select>
            </p>
          </div>
          <div class="col-lg-3">
            <label>Camp</label>
            <p>
              <select class="form-control">
                <option>Main Camp</option>
              </select>
            </p>
          </div>
          <div class="col-lg-3">
            <label>Room Type</label>
            <p>
              <select class="form-control">
                <option>Management</option>
              </select>
            </p>
          </div>
          <div class="col-lg-3">
            <label>Doom</label>
            <p>
              <select class="form-control">
                <option>Doom 1</option>
              </select>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <button type="button" class="btn btn-block btn-success">Refresh</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm row-border hover room-table" datatable [dtOptions]="dtOptions">
          <thead>
          <tr>
            <th>Room #</th>
            <th>Feature</th>
            <th>FD Status</th>
            <th>HS Status</th>
            <th>Admin Status</th>
            <th>HouseKeeper</th>
            <th>Shift</th>
            <th>Linen Status</th>
            <th>Image</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of data;index as $index;">
            <td>
              <span>{{row.room_no}}</span>
            </td>
            <td>
              <span>{{row.features}}</span>
            </td>
            <td>
              <span>{{row.fd_status ? 'StayOver' : 'Available'}}</span>
            </td>
            <td>
              <span class="fa fa-close" *ngIf="row.$editHsStatus" (click)= "row.$editHsStatus = false;"></span>
              <span>
                <select id="hs_status_{{$index}}"
                        [(ngModel)]="row.hs_status"
                        [ngClass]="{'view-mode': !row.$editHsStatus, 'form-control': row.$editHsStatus}"
                        (focus)= "row.$editHsStatus = true;"
                        (change)="updateHouseKeeping(row.id, row, 'hs_status', '$editHsStatus')">
                  <option *ngFor="let status of hsStatus" [ngValue]="status.id">{{status.title}}</option>
                </select>
              </span>
            </td>
            <td>
              <span class="fa fa-close" *ngIf="row.$editAdminStatus" (click)= "row.$editAdminStatus = false;"></span>
              <span>
                <select id="admin_status"
                        [(ngModel)]="row.admin_status"
                        (change)="updateHouseKeeping(row.id, row, 'admin_status', '$editAdminStatus')"
                        [ngClass]="{'view-mode': !row.$editAdminStatus, 'form-control': row.$editAdminStatus}"
                        (focus)= "row.$editAdminStatus = true;"
                        >
                  <option *ngFor="let adStatus of adminStatuses" [ngValue]="adStatus.id">{{adStatus.title}}</option>
                </select>

              </span>
            </td>
            <td>
              <span class="fa fa-close" *ngIf="row.$editHousekeeper" (click)="row.$editHousekeeper = false"></span>
              <span>
                <select [(ngModel)]="row.housekeeper"
                        [ngClass]="{'view-mode': !row.$editHousekeeper, 'form-control': row.$editHousekeeper}"
                        (focus)= "row.$editHousekeeper = true;"
                        (change)= "updateHouseKeeping(row.id, row, 'housekeeper', '$editHousekeeper')" >
                  <option *ngFor="let hk of houseKeepers" [ngValue]="hk.id">{{hk.name}}</option>
                </select>

              </span>
            </td>
            <td>
              <span class="fa fa-close" *ngIf="row.$editShift " (click)= "row.$editShift = false;"></span>
              <span>
                <select [(ngModel)]="row.shift"
                        [ngClass]="{'view-mode': !row.$editShift, 'form-control': row.$editShift}"
                        (focus)= "row.$editShift = true;"
                        (change) = "updateHouseKeeping(row.id, row, 'shift', '$editShift')">
                  <option *ngFor="let shift of shifts" [ngValue]="shift.id">{{shift.title}}</option>
                </select>
              </span>
            </td>
            <td>{{row.linen_status}}</td>
            <td></td>
            <td>

            <div class="fileUpload">
              <input type="file" class="upload" />
              <span>Upload</span>
            </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rooms Selected</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Room Selected</strong>
          1-103, 1-054A, 1-108, 145-117
        </p>
        <div class="filter-section">
          <div class="row">
            <div class="col-lg-6">
              <label>Update Housekeeping Status- Multi Rooms</label>
              <p>
                <select class="form-control">
                  <option>Vacant/Clean</option>
                </select>
              </p>
              <p><button type="button" class="btn btn-block btn-success">Multi-Set HS Status</button></p>
            </div>
            <div class="col-lg-6">
              <label>Update Housekeeping - Multi Rooms</label>
              <p>
                <select class="form-control">
                  <option>None</option>
                </select>
              </p>
              <p><button type="button" class="btn btn-block btn-success">Multi-Set HS HouseKeeping</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
