.admin-mode{
    position: absolute;
    right: 30px;
    top: 24px;
}
.filter-section{
    background: rgba(0,0,0,.05);
    padding: 25px 30px 15px;
    margin: 0 0 35px;;
}
.filter-gradient{
    background: #09425d;
    background-image: linear-gradient(#eee, #ddd);
}
.filter-transparent{
    padding: 0 0 15px;
}
    .filter-transparent .form-control{
        height: auto;
        padding: 10px 10px 11px;
        background: #f2f2f2;
        border-color: #f2f2f2;
        color: #222;
    }
    .refresh-wrap{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .refresh-wrap .btn{
        padding: 4px 8px;
        font-size: 13px;
    }
.room-table th:last-child{
    min-width: 100px !important;
}
.room-table td:last-child{
    text-align: center;
}
.room-table td:last-child .fa{
    color: #09425d;
    margin: 0 5px;
}


.table-housekeeping-wrap{
    display: block;
    width: 100%;
    overflow-x: auto;
    /*max-height: 1500px;
    max-height: 800px;*/
    position: relative;
}
    .table-housekeeping-wrap table{
        font-size: 15px;
    }
    .table-housekeeping-wrap table th{
        white-space:nowrap;
        padding-right: 20px;
    }
    .table-loader:before{
        content: " ";
        background: rgba(255,255,255, 0.6);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .table-loader:after{
        content: " ";
        background: url(/assets/images/loading.gif) no-repeat;
        background-size: 100% auto;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80px;
        height: 80px;
        margin: -40px 0 0 -40px;
        z-index: 2;
    }
    .table-loader-bot{
        background: url(/assets/images/loading.gif) no-repeat;
        background-size: 100% auto;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    td select.view-mode,
    td select.view-mode:focus,
    td select.view-mode:active{
        border: none;
        background: transparent;
        -webkit-appearance: none;
        outline: none;
        width: 100%;
    }
    .table-btns{
        text-align: left;
        min-width: 140px;
    }
    .room-table .fileUpload{
        padding:0;
        background:none !important;
    }
    .table-btns .btn{
        padding: 6px 14px;
        margin: 0 2px 2px;
        border-radius: 0;
        line-height: 1;
        font-size: 13px;
    }
    .dataTable td{
        position: relative;
    }
    .dataTable .fa-close{
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(0,0,0, 0.4);
        color: #fff;
        font-size: 12px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
    }
.for-mobile-table,
.filters-view-sm{
    display: none;
}
@media(max-width:767px){
    .for-mobile-table{
        display: block;
    }
    .filter-hide-mobile{
        display: none;
    }
    .filters-parent{
        margin: 0 0 25px;
    }
    .filters-view-sm{
        display: block;
    }
    .filters-view-sm a{
        display: block;
        padding: 10px 15px;
        font-size: 18px;
        background: #09425d;
        color: #fff;
        position: relative;
        text-decoration: none !important;
    }
    .filters-view-sm a:before{
        content: "\f106";
        font:normal normal normal 24px/1 FontAwesome;
        position: absolute;
        right: 15px;
        top: 11px;
    }
    .filters-view-sm a.active:before{
        content: "\f00d";
        font-size: 20px;
        top: 13px;
    }
    .filters-outer{
        padding: 20px 15px 0;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 10px 10px;
        margin: 0 0 20px;
    }
    .filter-section{
        padding: 25px 15px 15px;
    }
    .table-top-wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .table-top-wrap > div:last-child{
        margin-left: auto;
    }
    .table-top-wrap .jump-section label{
        display: block;
        margin: 0 0 3px;
    }
    .table-top-wrap .jump-section select{
        border-color: #999;
    }
    .table-search{
        margin: 0 0 30px;
    }
    .table-search .form-control{
        border: 1px solid #999;
        padding: 7px 15px;
        height: auto;
    }
    .table-housekeeping-wrap thead{
        display: none;
    }
    .table-housekeeping-wrap .table-bordered td{
        display: block;
        width: 100% !important;
        position: relative;
        padding-left: 117px !important;
        padding: 8px;
        min-height: 35px;
    }
    .table-housekeeping-wrap .table-bordered td:before {
        content: attr(data-title) " :";
        font-weight: bold;
        position: absolute;
        left: 12px;
        font-size: 13px;
    }
    .pagination{
        position: relative;
        padding: 0 30px;
        margin: 20px 0;
    }
        .page-link{
            padding: 5px 10px;
            border:none;
            color: #333;
            margin: 0 2px;
        }
        .page-item.active .page-link{
            background: #09425d;
        }
        .pagination .page-prev{
            position: absolute;
            left: 0;
            top: -3px;
        }
        .pagination .page-prev a span,
        .pagination .page-next a span{
            display: none;
        }
        .pagination .page-prev a:before{
            content: "\f104";
            font: normal normal normal 26px/1 FontAwesome;
        }
        .pagination .page-next{
            position: absolute;
            right: 0;
            top: -3px;
        }
        .pagination .page-next a:before{
            content: "\f105";
            font: normal normal normal 26px/1 FontAwesome;
        }
}