.filter-section{
    background: rgba(0,0,0,.05);
    padding: 15px 30px;
    margin: 0 0 35px;;
}
.room-table th:last-child{
    min-width: 100px !important;
}
.room-table td:last-child{
    text-align: center;
}
.room-table td:last-child .fa{
    color: #09425d;
    margin: 0 5px;
}

td select.view-mode,
td select.view-mode:focus  {
  border: none;
  background: transparent;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
}

.dataTable td{
position: relative;
}
.dataTable .fa-close{
position: absolute;
right: 0;
top: 0;
background: rgba(0,0,0, 0.4);
color: #fff;
font-size: 12px;
width: 20px;
height: 20px;
line-height: 20px;
text-align: center;
border-radius: 50%;
}
