<div class="box">
  <div class="box-body">
    <label for="">Auto Complete Static Data</label>
    <div class="ng-autocomplete search-icon-contain">
      <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                       (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                       [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
</div>
<div class="box">
  <div class="box-body">
    <label>Auto Complete Remote API</label>
    <div class="ng-autocomplete">
      <ng-autocomplete
        [data]="remoteData"
        [searchKeyword]="keyword"
        (selected)='selectEvent($event)'
        (inputChanged)='getServerResponse($event)'
        (inputFocused)='onFocused($event)'
        [itemTemplate]="itemTemplateRemote"
        (inputCleared)="searchCleared()"
        [notFoundTemplate]="notFoundTemplate"
        [debounceTime]="600"
        [isLoading]="isLoadingResult"
        [minQueryLength]="2"
        placeHolder="Search. eg 'DA'"
      >
      </ng-autocomplete>

      <ng-template #itemTemplateRemote let-item>
        <a href="javascript:void(0)">
          <div class="auto-txtwrap">
            <div class="autoicon">
              <span class="fa" [ngClass]="{'fa-plane': item.icon == 'airport', 'fa-map-marker': item.icon == 'location' }"></span>
            </div>
            <div class="autotxt">
              <strong [innerHTML]="item.name"></strong><span>({{item.address}})</span>
            </div>
          </div>
        </a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        {{errorMsg}}
      </ng-template>
    </div>
  </div>
</div>
